body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.usa-site a {
  color: #205593;
}

.usa-site h1{
  font-weight: normal;
  font-size: 2.9em;
  font-weight: 700;
  line-height: 1.25em;
}

.usa-site h2{
  font-size: 2.5em;
}

.usa-site h2,
.usa-site h3,
.usa-site h4 {
  font-weight: 700;
}

.usa-site h3 {
  font-size: 1.6em;
}

.usa-site-header{
  padding-bottom: 13px;
}

.usa-site-header-bar{
  font-size: .8em;
  font-style: italic;
  padding: 5px 0;
  width: 100%;
  color: #777;
}

.usa-site-header-bar .upper{
  text-transform: uppercase;
}

.usa-site-header-bar span,
.usa-site-header-bar img {
  display: inline-block;
  vertical-align: middle;
}

.usa-site-header-bar img {
  padding: 0 10px 4px;
}

.usa-site-header .header-bar-president{
  font-variant: small-caps;
  text-transform: lowercase;
}

.usa-site-header .usa-site-navbar{
  font-size: .75em;
  font-weight: bold;
}

.usa-site-header .usa-site-navbar ul{
  padding: 0;
  display: inline;
}

.usa-site-header .usa-site-navbar li{
  display: table-cell;
  position: relative;
  width: 180px;
  height: 110px;
}

.usa-site-header .usa-site-navbar li a{
  color: #0e2643;
  position: absolute;
  left: 0; right: 0; bottom: 8px;
}

.usa-site-header .usa-site-navbar .usa-nav-centerpiece{
  width: 250px;
}

.usa-site-header .usa-site-navbar .usa-nav-centerpiece a{
  bottom: 0;
}

.usa-site-header .usa-site-navbar li.usa-nav-centerpiece a img{
  width: 155px;
  bottom: 0;
}

.usa-site-jumbotron {
  width: 100%;
  height: 643px;
  background: url('../img/experts.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.usa-site-jumbotron h1 {
  margin-bottom: 0;
}

.usa-site-jumbotron h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin-top: .35em;
  line-height: 1.9em;
  font-weight: 300;
}

.usa-site-jumbotron .usa-site-jumbotron-text {
  position: absolute;
  left: 0; right: 0; bottom: 2em;
  margin: 0 auto;
}

.usa-site-jumbotron-teaser{
  position: absolute;
  top: 50px; right: 0;
  background: #fff;
  cursor: pointer;
}

.usa-site-jumbotron-teaser-image, 
.usa-site-jumbotron-teaser-arrow, 
.usa-site-jumbotron-teaser p {
  display: inline-block;
  vertical-align: middle;
}

.usa-site-jumbotron-teaser-image {
  border-left: 6px solid #dec622;
}

.usa-site-jumbotron-teaser p {
  color: #0e2643;
  max-width: 120px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 30px;
  text-align: left;
}

.usa-site-jumbotron-teaser-arrow {
  margin-right: 15px;
}

.usa-site-banner,
.usa-site-join {
  width: 100%;
}

.usa-site-banner {
  background-color: #103052;
  color: #fff;
  padding-bottom: 60px;
  overflow: auto;
}

.usa-site-banner h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.usa-site-banner h3 {
  font-size: 1.8em;
}

.usa-site-join-button {
  height: 60px;
  width: 200px;
  background-color: #dec622;
  margin-top: -30px;
  color: #000;
  font-size: 1.3em;
}

.usa-site-join-button:hover {
  background-color: #dec622;
}

.usa-site-story,
.usa-site-story-more,
.usa-site-people {
  display: block;
  padding: 0 20px;
  font-size: .85em;
}

.usa-site-story,
.usa-site-story-more {
  text-align: left;
}

.usa-site-people {
  padding: 40px 0 100px;
}

.usa-site-story .usa-site-story-image {
  width: 100%;
  max-height: 170px;
  border-top: 6px solid #dec622;
  padding-top: 8px;
}

.usa-site-people .usa-site-people-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.usa-site-people h4,
.usa-site-people h5 {
  margin: 10px 0;
  font-weight: 500;
}

.usa-site-people h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.usa-site-people .usa-site-people-company {
  font-weight: 700;
}

.usa-site-more-button {
  height: 50px;
  width: 320px;
  background: #fff;
  border: 1px solid #0071BB;
  color: #0071BB;
  margin: 80px 0;
}

.usa-site-more-button:hover {
  background: #fff;
  color: #205593; 
  border: 1px solid #205593;
}

.usa-site-press {
  text-align: left;
  padding: 20px;
}

.usa-site-press h3 {
  font-style: none;
}

.usa-site-press .usa-site-press-author {
  display: block;
  padding: 0.45em 0;
  color: #56A8DF;
  font-size: 0.8em;
  font-weight: bold;
}


.usa-site-album {
  background-color: #56A8DF;
  color: #fff;
  padding-bottom: 0;
}

.usa-site-album img{
  width: 245px; height: 160px;
  margin: 0; padding: 0;
  display: block;
  float: left;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.usa-site-footer {
  text-align: left;
  font-size: 0.8em;
  padding: 60px 0;
}

.usa-site-footer .usa-site-footer-logo{
  max-width: 165px;
}

.usa-site-footer header{
  font-weight: bold;
  padding: 7px 0;
}

.usa-site-footer ul {
  margin: 0;
}

.usa-site-footer ul li {
  line-height: 2em;
}

.usa-site-footer ul li:before {
  content: none;
}

.usa-site-footer ul li:after {
  content: none;
}
