---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family:                      'Open Sans', sans-serif;
$header-font-family:                    'Merriweather','Georgia','Times New Roman',serif;

$background-color:                      #ffffff;
$background-color-secondary:            #dec622;
$navigation-background-color:           #323a45;

$text-color:                            #000000;
$text-secondary-color:                  #0e2643;
$link-color:                            #0071bc;
$link-color-hover:                      #205593;

$divider-color:                         #f1f1f1;

$fixed-header-height-desktop:           155px;
$fixed-header-height-desktop-collapsed: 77px;
$fixed-header-height-mobile:            80px;

$dislaimer-bar-height:                  30px;
$submenu-height:                        46px;

// Responsive variables
// Mobile phones
$screen-xs-max:                         767px;
// Tablets
$screen-sm-min:                         768px;
$screen-sm-max:                         991px;
// Medium desktops
$screen-md-min:                         992px;
$screen-md-max:                         1199px;
// Large desktops
$screen-lg-min:                         1200px;

$site-album-image-width:                245px; // 490
$site-album-image-height:               160px; // 320


// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
$spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "responsive",
  "main",
  "slick",
  "slick-theme",
  "syntax-highlighting"
;

@media print {
  @import "print";
}
