---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family:                      'Roboto', sans-serif;
$header-font-family:                    'Roboto', sans-serif;

$background-color:                      #ffffff;
$background-color-secondary:            #dec622;
$navigation-background-color:           #323a45;
                                        
$text-color:                            #000000;
$text-secondary-color:                  #0e2643;
$link-color:                            #0071bc;
$link-color-hover:                      #205593;

$divider-color:                         #f1f1f1;

$fixed-header-height-desktop:           155px;
$fixed-header-height-desktop-collapsed: 77px;
$fixed-header-height-mobile:            80px;

$dislaimer-bar-height:                  30px;
$submenu-height:                        46px;

// Responsive variables
// Mobile phones
$screen-xs-max:                         767px;
// Tablets
$screen-sm-min:                         768px;
$screen-sm-max:                         991px;
// Medium desktops
$screen-md-min:                         992px;
$screen-md-max:                         1199px;
// Large desktops
$screen-lg-min:                         1200px;

$site-album-image-width:                245px; // 490
$site-album-image-height:               160px; // 320


// $base-font-size:   18px;
// $base-font-weight: 200;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
// 
$spacing-unit:     30px;
// 
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
// 
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// $content-width:    800px;
// 
// $on-palm:          600px;
// $on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "responsive",
  "main",
  "slick",
  "slick-theme",
  "syntax-highlighting"
;


// Hacks for City of Austin 


.usds-site header#fixed-header .disclaimer-bar {
	height: 25px;
	background-color: #333;
}

.usds-site header#fixed-header .site-navbar .desktop > ul .nav-centerpiece a#logo-desktop-full img {
  width: 274px;
  height: auto;
}

.usds-site header#fixed-header .site-navbar .desktop {
	font-size: 1em;
	font-weight: 300;
}

.usds-site header#fixed-header .site-navbar .desktop > ul .nav-centerpiece {
	width: 340px;

}

.usds-site header#fixed-header .site-navbar .desktop > ul > li {
	width: 100px;
}

@media (min-width: 768px) {

.usds-site header#fixed-header.collapsed .site-navbar .desktop ul .nav-centerpiece a#logo-desktop-collapsed {
	bottom: -17px;
}

.usds-site header#fixed-header.collapsed .site-navbar .desktop ul .nav-centerpiece a#logo-desktop-collapsed img {
	width: 160px;
}

.usds-site header#fixed-header.collapsed {
	height: 90px;
}

.usds-site header#fixed-header.collapsed .site-navbar .desktop ul > li {
	height: 58px;
}



} /* end @media */

.usds-site footer .usds-logo {
	width: 120px;
	height: 120px;
}

.usds-site section.our-work .story img {
/*	border-top-color: #333;
*/}

.usds-site .feature-panel {
	background-color: #333;
}

.usds-site section.site-album {
	background-color: #222;
	margin-top: 48px;
}

.usds-site.-page section.site-album {
	margin-top: 0px;
}

footer ul li {
	margin: 0;
	line-height: 1.3em;
}

footer .navlinky ul li {
	margin: 0;
	line-height: 1em;
}

footer .footer-block {
	margin-bottom: 32px;
}

.usds-site main .jumbotron {
	background-image: url(/fellows-website/img/home/arr-boards-1200.jpg)
}






