---
layout: default
redirect_from: cityofaustin.github.io/innovation-fellows
---


<section class="jumbotron hidden-xs">
  <div class="jumbotron-text">
    <h1>
      Work for the coolest city in the world
    </h1>
    <h2>
      We're looking for top talent in design, development, user research, and product management
    </h2>
  </div>

</section>

<section class="mobile-lede hidden-sm hidden-md hidden-lg">
  <img src="{{ site.baseurl }}/img/arr-boards-600.jpg" alt="">
  <h2>
      Work for the coolest city in the world
  </h2>
  <p>
      We're looking for top talent in design, development, user research, and product management
  </p>

</section>


<section class="background-statement usa-grid">
  <div class="usa-width-one-whole">
    <h2>Changing up local government</h2>
  </div>

  <div class="usa-width-one-whole">
<!--     <img src="/img/emoji_logo.png" alt="The USDS emoji slogan: Flexed arm, Computer, and American Flag" />
 -->    <p>
      The City of Austin's Design, Technology, and Innovation Fellows program provides an opportunity for Austin’s passionate and civic-minded designers and developers to bring the principles, values, and practices of the technology sector into government.
    </p>
    <p>
      Inspired by the success of programs at the <a href="https://cfpb.github.io/">Consumer Financial Protection Bureau</a>, <a href="https://18f.gsa.gov/">18F</a>, <a href="https://www.codeforamerica.org/">Code for America</a>, and the <a href="https://www.whitehouse.gov/digital/united-states-digital-service">U.S. Digital Service</a>, we partner with departments throughout the city to tackle some of their biggest challenges.
    </p>
  </div>

  <div class="usa-width-one-whole">
    <a href="{{ site.baseurl }}/about"><button class="more-button">Learn more</button></a>
    <a href="{{ site.baseurl }}/join"><button class="more-button">View open positions</button></a>

  </div>

</section>


<section class="our-work">

  <div class="usa-width-one-whole">
    <h2>Current projects</h2>
  </div>

  <div class="usa-grid">

  {% include projects.html num_columns=3 num_projects=3 %}

  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <a href="{{ site.baseurl }}/projects">
        <button class="more-button">
          View more work
        </button>
      </a>
    </div>
  </div>
</section>



<section class="press feature-panel">
  <h3>Press</h3>
  {% include press.html %}

</section>
