---
layout: default
title: Join Us
---
{% assign jobs = site.jobs | sort: "list_order" %}

<div class="usa-grid">
  <div class="usa-width-one-third faqs">
    <p>Open Positions</p>
    <ul class="usa-unstyled-list join-options">

      {% for job in jobs | sort: "list_order" %}
      <li><a href="join#{{ job.job_title | slugify }}">{{ job.job_title }}</a></li>
      {% endfor %}
    </ul>
    <p>Additional information</p>
    <ul class="usa-unstyled-list join-options">
      <li><a href="join#application-process">Application Process</a></li>
      <li><a href="join#faq">Fellowship FAQs</a></li>
      <li><a href="join#internships">Internships</a></li>
      <li><a href="join#volunteers">Volunteers</a></li>
      <li><a href="join#get-updates">Get Updates</a></li>
    </ul>
  </div>
  <div class="usa-width-two-thirds answers" style="margin-top: 2.9em;">

  {% for job in jobs | sort: "list_order" %}
    {% if job.is_fellow == true %}
    {% assign job_title_prefix = "Design, Technology, and Innovation Fellow: " %}
    {% endif %}
    <div class="answer" id="{{ job.job_title | slugify }}">
      <h3>{{ job_title_prefix }}{{ job.job_title }}</h3>
      {{ job.content }}
      <br>
      <hr>
      <br>
      <a href="{{ job.lever_link }}"><button class="join-button">Apply now</button></a>
    </div>
  {% endfor %}


    <div class="answer" id="application-process">
      <h3>Application Process</h3>
        <p>We review all applications on a rolling basis, which means that your chances of getting selected are highest if you apply early. Based on the resume, essays, and work samples in each application, we select top candidates for interviews.</p>

       <p>As we review applications, we consider the following areas:</p>
        <ul>
        <li><strong>Analysis and creative problem solving</strong>: Expertise determining user needs or identifying market opportunities and designing and deploying innovative solutions</li>
        <li><strong>Tools and execution</strong>: Experience in iterative design, development, and deployment of solutions using current and emergent technologies and best practices</li>
        <li><strong>Empathy and emotional intelligence</strong>: Experience in client-facing roles, navigating processes and bureaucracy, and delivering services with a strong user-facing or consumer-oriented element</li>
        <li><strong>Ability to work well on teams:</strong> Experience collaborating with folks from other disciplines on a daily basis, appreciating differences in perspective while also providing deep expertise in their area of specialization. (We’re a large organization, so we want to see evidence that you can thrive in a large organization.)</li>
        </ul>

        <h4>Interviews</h4>
        <p>Our interview process includes a combination of remote sessions over Google Hangouts and in-person sessions at City Hall. These include the following questions:</p>
        <ul>
          <li>Tell us about yourself. What are your strengths? What drew you to apply to be a Fellow?</li>
          <li>Tell us about your experience in lean, agile, and/or iterative methods for design, development, and deployment of solutions. How do you know when to use different approaches? What are the most common challenges you've experienced with these methods, and how have you responded to them?</li>
          <li>Tell us about a time when you have helped a person, team, or organization move toward a more lean, agile, or iterative process, where there was not one before. What challenges did you encounter? How did you solve them?</li>
          <li>Tell us about a time when you've helped make an approach or a solution sustainable.</li>
          <li>Being a Fellow will involve bringing modern design and development methodologies to teams that may not have worked with them. How would you help gain adoption of these methods so that the solutions we create will be sustainable into the future?</li>
          <li>Tell us about your experience working with clients. What type of relationship do you need to have with a client in order to be successful?</li>
          <li>How have you navigated challenging clients or difficult environments to produce quality and sustainable solutions?</li>
          <li>Tell us how you prefer to work within teams. What do you bring to a team? What skills, strengths, or qualities do you need on a team to complement your own? What team environment works best for you?</li>
          <li>What would be your ideal project?</li>
        </ul>
    </div>


    <div class="answer" id="faq">
    <h3>Frequently Asked Questions</h3>
        <h4 id="why" class="faq-heading">I have a lot of options in the tech sector. Why should I become a fellow?</h4>
        <p class="faq-answer">This is an opportunity for you to have a huge impact. Our city is responsible for providing necessary services to over a million people every day, and we need your expertise to help improve those services.</p>
        <p>You’ll also join a growing community of civic leaders who are working to create a more open, accountable, and participatory government, and you’ll help us establish new standards and practices that we can share with other cities. For examples of these practices in action, check out the work from <a href="https://18f.gsa.gov/">18F</a>, the <a href="https://www.usds.gov/">US Digital Service</a>, and the <a href="https://gds.blog.gov.uk/">UK Government Digital Service</a>.</p>

        <h4 id="work" class="faq-heading">What kind of work will I do?</h4>
        <p class="faq-answer">Fellows serve on multidisciplinary project teams of designers, developers, researchers, and subject-matter experts working to to improve city services through iterative, user-centered design and development. The breadth of city services spans across all city functions, including public safety, permitting, resource recovery, and event management, and project work can range from early research and prototyping to detailed design and implementation. We’ll look to each fellow’s strengths and interests in order to match them with projects where they can have the greatest impact.</p>

        <h4 id="people" class="faq-heading">What kinds of people are you looking for?</h4>
        <p class="faq-answer">We’re looking for practitioners and project leaders in all areas of design, technology, and innovation with at least three years of experience working on multidisciplinary teams and producing great work. We need people who can challenge the status quo while appreciating the work that’s already being done, which requires a balance of assertiveness, patience, and humility.</p>
        <p>As we review applications, we consider the following areas:</p>
        <ul>
        <li><strong>Analysis and creative problem solving</strong>: Expertise determining user needs or identifying market opportunities and designing and deploying innovative solutions</li>
        <li><strong>Tools and execution</strong>: Experience in iterative design, development, and deployment of solutions using current and emergent technologies and best practices</li>
        <li><strong>Empathy and emotional intelligence</strong>: Experience in client-facing roles, navigating processes and bureaucracy, and delivering services with a strong user-facing or consumer-oriented element</li>
        <li><strong>Ability to work well on teams:</strong> Experience collaborating with folks from other disciplines on a daily basis, appreciating differences in perspective while also providing deep expertise in their area of specialization. (We’re a large organization, so we want to see evidence that you can thrive in a large organization.)</li>
        </ul>

        <h4 id="pay" class="faq-heading">How much will I get paid?</h4>
        <p class="faq-answer">Fellows are paid between $32.47 and $41.34 an hour, commensurate with experience. Fellows hired in Fall 2016 and early 2017 serve in <i>temporary</i> positions for one year of full-time work (40 hours per week).</p>

        <h4 id="benefits" class="faq-heading">What are the benefits?</h4>
        <p class="faq-answer">Fellows hired in Fall 2016 and early 2017 serve in <i>temporary</i> positions, which means that they are not be eligible for paid time off or health insurance, though Fellows who work beyond one year can become eligible for health insurance from the City.</p>

        <h4 id="term" class="faq-heading">What happens at the end of the one-year term?</h4>
        <p class="faq-answer">We would love for all of our Fellows to find jobs with the City or other government organizations! Over the course of each fellow's term, we work to connect them with City departments, state and federal agencies, civic technology companies, and public policy organizations that are looking for talent, and we encourage our partnering departments in the City to consider Fellows as candidates for regular City positions.</p>
        <p>Fellows who would like to continue on their projects or help manage the next round of the program can request to extend their assignments, which would be considered through an evaluation process.</p>

        <h4 id="location" class="faq-heading">Where will the work be located?</h4>
        <p class="faq-answer">We’re currently working with our Facilities team to reserve dedicated office space for Fellows and their project teams, which will be located near our current office space at City Hall (301 W 2nd Street). We also travel to different areas in central Austin based on the needs of specific projects, and we host meetings and events in different spaces throughout the year.</p>
        <p>We have a strong appreciation for the effectiveness of working from home, so our telework policy allows Fellows to work from home at least one day each week.</p>

        <h4 id="typical-day" class="faq-heading">What will a typical day look like?</h4>
        <p class="faq-answer">Fellows serve on multidisciplinary teams of designers, developers, user researchers, and subject matter experts using scrum and other agile methods to manage work and ensure frequent collaboration.</p>
        <p>A typical day includes a stand-up with your core team and plenty of time for you to focus on advancing the project based on your skills and expertise. Depending on the needs of your project, you’ll also meet with users, stakeholders, and other city departments on a daily or weekly basis. At the end of each week, all of the fellows teams take time to share progress and learnings across projects and teach each other new skills.</p>
    </div>

    <div class="answer" id="internships">
      <h3>Internships</h3>
      <p>We’re considering offering opportunities for internships as early as May 2017.</p>
      <p>Email us at <a href="mailto:innovationfellows@austintexas.gov">innovationfellows@austintexas.gov</a> if you’re interested in being part of our first cohort.</p>
    </div>

    <div class="answer" id="volunteers">
      <h3>Volunteers</h3>
      <p>We’re working with <a href="https://www.open-austin.org/">Open Austin</a> and other organizations to support Austin’s volunteer community around civic design, technology, and innovation. Check out their <a href="http://www.meetup.com/Open-Austin/">Meetups</a> to learn how to get involved.</p>
    </div>

    <div class="answer" id="get-updates">
      <h3>Get updates</h3>
      <p>Sign up to receive emails about the program.</p>


      <div id="mc_embed_signup">
      <form action="//bloomfire.us13.list-manage.com/subscribe/post?u=678694b9c50a30030139046e4&amp;id=59d63f3dff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label class="text-field-label" for="mce-AMEN">Name </label>
            <input type="text" value="" name="AMEN" class="text-field-input" id="mce-AMEN">
          </div>
          <div class="mc-field-group">
            <label class="text-field-label" for="mce-EMAIL">Email Address  <span class="asterisk"></span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email text-field-input" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label class="text-field-label" for="mce-FELLOWURL">URL (optional) </label>
            <input type="text" value="" name="FELLOWURL" class="text-field-input" id="mce-FELLOWURL">
          </div>
        </div>


        <div class="col-md-12">


        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_678694b9c50a30030139046e4_59d63f3dff" tabindex="-1" value=""></div>
          <div class="clear submit-form"><br/><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button btn submit-button"></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='AMEN';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';ftypes[3]='url';fnames[4]='ADDTLNOTES';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </div>

    <div class="answer default-open">
         <h3>Join us!</h3>
         <p>We’re looking for civic-minded folks from a variety of disciplines. Read more about our <a href="join#application-process">Application Process</a> or get answers to the most <a href="join#faq">common questions</a> about being a Fellow. We accept all applications on a rolling basis, which allows us to respond to the changing needs of city departments.</p>

         <p>In the next month, we're looking to hire an <a href="#engineering-lead">Engineering Practices Lead</a>, <a href="#ui-designer">Senior UI Designer</a>, <a href="#community-engagement-strategist">Community Engagement Strategist</a>, and <a href="#facilitator-conversation-designer">Conversation Designer / Facilitator</a>.</p>

         <p>For our project with Bloomberg Philanthropies, we're looking for senior practitioners in <a href="#service-designer">Service Design</a>, <a href="#content-strategist">Content Strategy</a>, and <a href="#project-manager">Project Management</a> to to continue our work with people experiencing homelessness in Austin. Candidates must have strong interpersonal skills with sensitivity to others’ experiences, vulnerabilities, and triggers. Patience, humility, and grit required, direct experience working in social services or complex systems is a strong plus.</p>

        <p>Over the next few months, we're looking to hire additional experts in <a href="#project-manager">Project Management</a>, <a href="#content-strategist">Content Strategy,</a> <a href="#interaction-designer">Experience Design</a>, <a href="#front-end-developer">Front-End Development</a>, and <a href="#back-end-developer">Back-End Development</a> to serve on projects to improve digital services across the city.</p>


         <p>If none of our current openings are the right fit for you, <a href="join#get-updates">connect with us</a> to be notified of future openings, and feel free to <a href="https://jobs.lever.co/austintexas/7367149f-2727-4c51-82fe-124ad57f3a28">send us your resume</a>.</p>


</div>

  </div>
</div>
