---
layout: static
title: Join a Digital Service
---

<!doctype html>
<html lang="en">
	{% include head.html append='<link rel="stylesheet" href="/css/landing-style.css">' %}
	<body class="usds-site">
	<div class="disclaimer-bar">
	    <div class="usa-grid">
	      <div class="usa-width-one-whole">
	        <div id="beta-notice" class="hidden-xs">
	          This site is in beta and a <a href="https://playbook.cio.gov" target="_blank">work in progress</a>
	        </div>
	        <img class="eop-seal" alt="An image of the presidential seal" src="/img/layout/seal.png">
	        <span class="hidden-xs">An official website of the </span>Executive Office of the President
	      </div>
	    </div>
	  </div>
		<div class="usa-overlay"></div>
		<main id="main-content">
			<section class="usa-hero">
            	<div class="hero-links pull-right">
                   <a href="https://usds.gov">USDS</a>
                    <a href="https://18f.gov">18F</a>
                    <a href="https://presidentialinnovationfellows.gov">PIF</a>
                </div>
				<div class="usa-grid">
					<div class="usa-hero-callout usa-section-dark">
						<h1>Join a Digital Service</h1>
						<p class="tag-line">Build a more awesome government for the people, by the people. Today.</p>
					</div>
				</div>
			</section>
			<section class="usa-grid usa-section">
				<h2>If you are in the tech sector and want to change the world, consider the U.S. Government.</h2>
				<p> You came to tech to change the world. So did we. Join us!
				</section>
				<div class="join-us">
					<div class="usa-footer-primary-section">
						<div class="usa-grid-full">
							<div class="usa-width-one-third join-us-grid">
								<div class="center">
									<img src="/img/usds.png" alt="USDS logo">
									<a  href="https://usds.gov" class="DS-blue-font">Join USDS</a>
									<p>Building a more awesome government through technology</p>
								</div>
							</div>
							<div class="usa-width-one-third join-us-grid">
								<div class="center">
									<img src="/img/18f.png" alt="18F logo">
									<a  href="https://18f.gov" class="DS-blue-font">Join 18F</a>
									<p>Improving the user experience of government</p>
								</div>
							</div>
							<div class="usa-width-one-third join-us-grid">
								<div class="center">
									<img src="/img/pif.png" alt="President Innovation Fellows Logo">
									<a href="https://presidentialinnovationfellows.gov" class="DS-blue-font">Become a PIF</a>
									<p>Entrepreneur in residence working on the nation’s hardest problems</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="usa-grid usa-section ds-services">
					<div class="usa-width-two-thirds">
						<h1 class="DS-title">U.S. Digital Service</h1>
						<p class="DS-dark-blue-font">Tour of Duty: 3 months &ndash; 4 years.</p>
						<p>USDS is a technology “special forces” team focused on delivering critical services to the American people. They stabilize and secure systems, improve critical services, and help the government buy tech better. USDS chooses projects primarily based on what will do the greatest good for the greatest number of people in the greatest need.</p>
						<p>USDS is seeking software engineers, technical product managers, and designers for tours of duty of 3 months to 4 years.</p>

						<p>For more information about a tour of duty, <a href="https://usds.gov/join" class="section-info-link">click here</a>.</p>
						<p class="header-font">Examples of Service Delivery:</p>
						<a href="https://www.vets.gov/">Veteran facing services</a>
						<a href="https://my.uscis.gov/exploremyoptions">Immigration modernization</a>
						<a href="https://www.healthcare.gov/">Healthcare</a>
					</div>
					<div class="usa-width-one-third">
						<img src="/img/usds.png" alt="USDS logo">
						<br/>
						<a href="https://usds.gov" class="usa-button-primary landing-join-button">Join USDS</a>
						<div>
							<p> We typically hire:</p>
							<button class="grey-button DS-dark-blue-font">Designers</button>
							<button class="grey-button DS-dark-blue-font">Software Engineers</button>
							<button class="grey-button DS-dark-blue-font">Technical Product Managers</button>
							<button class="grey-button DS-dark-blue-font">Tech Leaders and Executives</button>
						</div>
					</div>
				</section>
				<section>
					<div class="usa-footer-primary-section tts">
						<div class="usa-grid-full mid-block">
							<h1>Technology Transformation Services</h1>
							<p>TTS, as part of the General Services Administration, is improving government efficiency and providing better service to the public by helping agencies build, buy, and share technology. There are several programs under TTS, including 18F and the Presidential Innovation Fellows (PIF) program.</p>
						</div>
					</div>
				</section>
				<section class="usa-grid usa-section  ds-services">
					<div class="usa-width-two-thirds">
						<h1 class="DS-title">TTS/18F</h1>
						<p class="DS-dark-blue-font"> Tour of Duty: 12 months &ndash; 4 years.</p>
						<p>18F develops partnerships with agencies to help them build or buy digital services that instill pride and trust in government services, that reliably meet user needs, that implement strong security practices, and that are delivered on time and in a cost effective manner. Through our work together, we also aim to generate improvements in agency practices that outlast our formal partnerships.
						</p>
						<p>
						18F is a remote-first team with offices in D.C., New York, Chicago, and San Francisco, and has teammates working all over the country. Staff serve between 1 and 4 years. For more information about a tour of duty with 18F, <a href="https://18f.gsa.gov/join" class="section-info-link">click here</a>. 
						</p>
							
							<p class="header-font">Examples of Shared Services:</p>
							<a href="https://18f.gsa.gov/what-we-deliver/fec-gov/">Federal Election Commission</a>
							<a href="https://18f.gsa.gov/what-we-deliver/data-act/">DATA Act</a>
							<a href="https://18f.gsa.gov/what-we-deliver/hhs-states/">California Child Welfare Project</a>
						</div>
						<div class="usa-width-one-third">
							<img src="/img/18f.png" alt="18F logo">
							<br/>
							<a href="https://18f.gsa.gov/" class="usa-button-primary landing-join-button">Join 18F</a>
							<div>
								<p> We typically hire:</p>
								<button class="grey-button DS-dark-blue-font">Designers</button>
								<button class="grey-button DS-dark-blue-font">Software Engineers</button>
								<button class="grey-button DS-dark-blue-font">Technical Product Managers</button>
								<button class="grey-button DS-dark-blue-font">Acquisition Specialists</button>
								<button class="grey-button DS-dark-blue-font">Tech Leaders and Executives</button>

							</div>
						</div>
					</section>
					<div class="border"></div>
					<section class="usa-grid usa-section  ds-services">
						<div class="usa-width-two-thirds">
							<h1 class="DS-title"> Presidential Innovation Fellows (PIF)</h1>
							<p class="DS-dark-blue-font"> Tour of Duty: 12 months &ndash; 18 months.</p>
							<p>The Presidential Innovation Fellows (PIF) program is looking for mid- to senior-career individuals with a proven track record of success in areas such as entrepreneurship, strategic design, technology, innovation and modern product management.</p>
							<p>Fellows team up with agency changemakers to tackle the nation’s biggest and most pressing challenges, such as improving access to education, fueling job creation and the economy, and expanding the public’s ability to access their personal health data.
							</p>
							<p>
							Fellows serve 12-month tours of duty in Washington, D.C. Classes typically start in late summer or early fall. For more information about a tour of duty with PIF <a href="https://presidentialinnovationfellows.gov/" class="section-info-link">click here</a>.</p>
								<p class="header-font">Examples of Projects:</p>
								<a href="https://presidentialinnovationfellows.gov/projects/cancer-moonshot.html">Cancer Clinical Trials</a>
								<a href="https://presidentialinnovationfellows.gov/projects/fbi-risk-management.html">FBI Threat Prevention</a>
							</div>
							<div class="usa-width-one-third">
								<img src="/img/pif.png" alt="Presidential Innovation Fellows Logo">
								<br/>
								<a href="https://presidentialinnovationfellows.gov/" class="usa-button-primary landing-join-button">Join PIF</a>
								<div>
									<p> We typically hire:</p>
									<button class="grey-button DS-dark-blue-font">Entrepreneurs</button>
									<button class="grey-button DS-dark-blue-font">Strategic Designers</button>
									<button class="grey-button DS-dark-blue-font">Innovation Leaders & Executives</button>
								</div>
							</div>
						</section>
						<section class=" usa-section usa-section-dark usa-graphic_list">
							<div class="usa-footer-primary-section" style="background-color: transparent;">
								<div class="usa-grid-full">
									<h3>Any major initiative in government will only be as good as the people who work on it.</h3>
									<p>The “tour of duty model” allows for leaders in the tech industry to pair with dedicated civil servants for a full time engagement of anywhere from three months to four years.</p>
									<p>Three federal programs, <a href="https://usds.gov/" class="footer-links">the United States Digital Service</a>, <a href="https://18f.gov" class="footer-links">18F</a>, and the <a href="https://presidentialinnovationfellows.gov/" class="footer-links">Presidential Innovation Fellows program</a> bring top industry talent to critical areas of innovation within the government.</p>
									
								</div>
							</div>
						</section>
						<div class="usa-hero footer-hero">
							<div class="usa-grid">
								<div class="usa-hero-callout usa-section-dark">
								</div>
							</div>
						</div>
					</main>
					 {% include footer.html %}
					 {% include analytics.html %}

				</body>
			</html>
