---
layout: default
title: Our Work
---

<br>
<br>

{% assign sorted_projects = site.project_summaries | sort: 'id' %}

<section class="our-work">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <h2>Our work</h2> 
      <p class="page-width-70">
        We live in a world where any new public policy is only as good as its underlying technology. Explore a few of the projects we&#8217;ve tackled:</p>
    </div>

    <!-- First Story -->
    {% assign project = sorted_projects[0] %}
    {% include project.html project_param = project %}

    <!-- Second Story --> 
    {% assign project = sorted_projects[1] %}
    {% include project.html project_param = project %}

    <!-- Third Story -->
    {% assign project = sorted_projects[2] %}
    {% include project.html project_param = project %} 
  </div>
  
  <!-- First Three Grid-Friendly Links not visible on mobile -->
  {% include project_clean_grid_links.html projects_param=sorted_projects first_link=0 second_link=1 third_link=2 %}

  <div class="usa-grid">

    <!-- Fourth story here -->
    {% assign project = sorted_projects[3] %}
    {% include project.html project_param = project %} 

    <!-- Fifth story here -->
    {% assign project = sorted_projects[4] %}
    {% include project.html project_param = project %} 
    
    <!-- Sixth story here -->
    {% assign project = sorted_projects[5] %}
    {% include project.html project_param = project %} 

  </div>

  <!-- 7-9 Grid-Friendly Links, not visible on mobile -->
  {% include project_clean_grid_links.html projects_param=sorted_projects first_link=3 second_link=4 third_link=5 %}

  <div class="usa-grid">

    <!-- 7th story here -->
    {% assign project = sorted_projects[6] %}
    {% include project.html project_param = project %} 

    <!-- 8th story here -->
    {% assign project = sorted_projects[7] %}
    {% include project.html project_param = project %} 
    
    <!-- 9th story here -->
    {% assign project = sorted_projects[8] %}
    {% include project.html project_param = project %} 

  </div>

  <!-- 7-9th Grid-Friendly Links, not visible on mobile -->
  {% include project_clean_grid_links.html projects_param=sorted_projects first_link=6 second_link=7 third_link=8 %}

  <div class="usa-grid">

    <!-- 10th story here -->
    {% assign project = sorted_projects[9] %}
    {% include project.html project_param = project %} 

    <!-- 11th story here -->
    {% assign project = sorted_projects[10] %}
    {% include project.html project_param = project %} 
    
    <!-- 12th story here -->
    {% assign project = sorted_projects[11] %}
    {% include project.html project_param = project %} 

  </div>

  <!-- 10-12th Grid-Friendly Links, not visible on mobile -->
  {% include project_clean_grid_links.html projects_param=sorted_projects first_link=9 second_link=10 third_link=11 %}

</section>
