<div class="usa-site-album">
  <div class="usa-grid">
    <div class="usa-width-one-whole" id="usa-site-zeitgeist">
      <img src="img/home/A.jpg" alt="" />
      <img src="img/home/B.jpg" alt="" />
      <img src="img/home/C.jpg" alt="" />
      <img src="img/home/D.jpg" alt="" />
      <img src="img/home/E.jpg" alt="" />
      <img src="img/home/F.jpg" alt="" />
      <img src="img/home/G.jpg" alt="" />
      <img src="img/home/H.jpg" alt="" />
      <img src="img/home/I.jpg" alt="" />
      <img src="img/home/J.jpg" alt="" />
      <img src="img/home/K.jpg" alt="" />
      
      <!-- Reserve images -->
      <img class="reserve" src="img/home/A.jpg" alt="" />
      <img class="reserve" src="img/home/B.jpg" alt="" />
      <img class="reserve" src="img/home/C.jpg" alt="" />
      <img class="reserve" src="img/home/D.jpg" alt="" />
      <img class="reserve" src="img/home/E.jpg" alt="" />
      <img class="reserve" src="img/home/F.jpg" alt="" />
      <img class="reserve" src="img/home/G.jpg" alt="" />
      <img class="reserve" src="img/home/H.jpg" alt="" />
      <img class="reserve" src="img/home/I.jpg" alt="" />
      <img class="reserve" src="img/home/J.jpg" alt="" />
      <img class="reserve" src="img/home/K.jpg" alt="" />
    </div>
  </div>
</div>

<div class="feature-panel">
  <h3><em>Change lives every day</em></h3>
  <h4>We need top technologists to serve tours of duty, working on the nation's biggest challenges.</h4>
</div>
<div class="join-button-container">
  <a href="join"><button class="join-button">Join Us</button></a>
</div>