<section class="site-album">
  <div class="album-row">
    <img src="/img/home/usds-logo-written-in-marker.jpg" alt="the USDS logo written in marker" />
    <img src="/img/home/usds-staff-meeting.jpg" alt="a picture of the USDS team at a staff meeting" />
    <img src="/img/home/usds-emoji-logo-on-whiteboard.jpg" alt="the USDS emoji logo written on a whiteboard" />
    <img src="/img/home/usds-talent-team-selfie-at-white-house.jpg" alt="the USDS talent team taking a selfie at the white house" />
    <img src="/img/home/usds-meeting-in-progress-cardboard-sign.jpg" alt="a cardboard sign that says meeting in progress" />
    <img src="/img/home/engineer-coding-infront-of-fireplace.jpg" alt="a USDS engineer working infront of a fireplace" />
  </div>
  <div class="album-row">
    <img src="/img/home/defense-digital-service-team-photo.jpg" alt="the defense digital service posing for a team photo" />
    <img src="/img/home/usds-team-at-dhs-team-photo.jpg" alt="the USDS team at dhs posing for a team photo" />
    <img src="/img/home/usa-jacket-hanging-on-coatrack.jpg" alt="a usa embroidered jacket hanging on a coat rack" />
    <img src="/img/home/team-working-in-usds-hq.jpg" alt="the USDS team working in the HQ office" />
    <img src="/img/home/hand-holding-a-usds-sticker.jpg" alt="a hand holding a USDS sticker" />
    <img src="/img/home/usds-team-laughing-in-meeting.jpg" alt="members of the USDS team laughing in a meeting" />
  </div>
</section>

<div class="feature-panel">
  <h3><em>Change lives every day</em></h3>
  <h4>We need top technologists to serve tours of duty, working on the nation's biggest challenges.</h4>
</div>
<div class="join-button-container">
  <a href="/join"><button class="join-button">Join Us</button></a>
</div>
