<section class="site-album">
  <div class="album-row">
    <img src="img/home/usds-logo-written-in-marker.jpg" alt="the-usds-logo-written-in-marker" />
    <img src="img/home/usds-staff-meeting.jpg" alt="the-usds-team-staff-meeting" />
    <img src="img/home/usds-emoji-logo-on-whiteboard.jpg" alt="the-usds-emoji-logo-written-on-a-whiteboard" />
    <img src="img/home/usds-talent-team-selfie-at-white-house.jpg" alt="the-usds-talent-team-posing-for-a-selfie-at-white-house" />
    <img src="img/home/usds-meeting-in-progress-cardboard-sign.jpg" alt="a-usds-meeting-in-progress-cardboard-sign" />
    <img src="img/home/engineer-coding-infront-of-fireplace.jpg" alt="an-engineer-coding-infront-of-a-fireplace" />
  </div>
  <div class="album-row">
    <img src="img/home/defense-digital-service-team-photo.jpg" alt="the-defense-digital-service-team-photo" />
    <img src="img/home/usds-team-at-dhs-team-photo.jpg" alt="the-usds-team-at-dhs-team-photo" />
    <img src="img/home/usa-jacket-hanging-on-coatrack.jpg" alt="a-usa-embroidered-jacket-hanging-on-a-coatrack" />
    <img src="img/home/team-working-in-usds-hq.jpg" alt="the-usds-team-working-in-the-usds-hq" />
    <img src="img/home/a-hand-holding-a-usds-sticker.jpg" alt="A hand holding a USDS sticker" />
    <img src="img/home/usds-team-laughing-in-meeting.jpg" alt="the-usds-team-laughing-in-a-meeting" />
  </div>
</section>
<!--<br clear="all" />
<div class="usa-site-album">
  <div class="usa-grid">
    <div class="usa-width-one-whole" id="usa-site-zeitgeist">
      <img src="img/home/A.jpg" alt="" />
      <img src="img/home/B.jpg" alt="" />
      <img src="img/home/C.jpg" alt="" />
      <img src="img/home/D.jpg" alt="" />
      <img src="img/home/E.jpg" alt="" />
      <img src="img/home/F.jpg" alt="" />
      <img src="img/home/G.jpg" alt="" />
      <img src="img/home/H.jpg" alt="" />
      <img src="img/home/I.jpg" alt="" />
      <img src="img/home/J.jpg" alt="" />
      <img src="img/home/K.jpg" alt="" />
      
      <img class="reserve" src="img/home/A.jpg" alt="" />
      <img class="reserve" src="img/home/B.jpg" alt="" />
      <img class="reserve" src="img/home/C.jpg" alt="" />
      <img class="reserve" src="img/home/D.jpg" alt="" />
      <img class="reserve" src="img/home/E.jpg" alt="" />
      <img class="reserve" src="img/home/F.jpg" alt="" />
      <img class="reserve" src="img/home/G.jpg" alt="" />
      <img class="reserve" src="img/home/H.jpg" alt="" />
      <img class="reserve" src="img/home/I.jpg" alt="" />
      <img class="reserve" src="img/home/J.jpg" alt="" />
      <img class="reserve" src="img/home/K.jpg" alt="" />
    </div>
  </div>
</div>-->

<div class="feature-panel">
  <h3><em>Change lives every day</em></h3>
  <h4>We need top technologists to serve tours of duty, working on the nation's biggest challenges.</h4>
</div>
<div class="join-button-container">
  <a href="join"><button class="join-button">Join Us</button></a>
</div>