<footer>
  <div class="usa-grid">

    <div class="usa-width-one-fourth footer-block">
      <img class="usds-logo" alt="The seal of the City of Austin" src="{{ site.baseurl }}/img/layout/COA-Seal-BW.png" />
    </div>

    <div class="usa-width-one-fourth footer-block navlinky">
    &nbsp;
      <ul>
        <li><a href="{{ site.baseurl }}">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
        <li><a href="{{ site.baseurl }}/civiqueso">Civiqueso</a></li>
        <li><a href="{{ site.baseurl }}/join">Join Us</a></li>
      </ul>
    </div>

    <div class="usa-width-one-fourth footer-block">
    &nbsp;
      <ul>
        <li><a href="https://cityofaustin.github.io/innovation/">Office of Innovation</a></li>
        <li><a href="https://www.austintexas.gov/techreport/communications-and-technology-management">Office of Communications &amp; Technology Management</a></li>
      </ul>
    </div>

    <div class="usa-width-one-fourth footer-block">
      <h4>Follow us</h4>
      <a href="https://twitter.com/civiqueso"><i
        class="fa fa-2x fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a>
      <a href="https://medium.com/city-of-austin-design-technology-innovation"><i
        class="fa fa-2x fa-medium" aria-hidden="true" title="Medium"></i><span class="sr-only">Medium</span></a>
      <a href="https://github.com/cityofaustin/" target="_blank"><i
        class="fa fa-2x fa-github" aria-hidden="true" title="Github"></i><span class="sr-only">Github</span></a>
      <br />
      <a href="https://github.com/cityofaustin/innovation-fellows" target="_blank"><button class="contribute-button">Contribute to this site</button></a>
      
    </div>

  </div>
  
</footer>
