<footer>
  <div class="usa-grid">
    <div class="usa-width-one-half">
    </div>
    <div class="usa-width-one-fourth">
      <h4>Resources</h4>
      <ul>
        <li><a href="https://playbook.cio.gov/" target="_blank">Digital Services Playbook</a></li>
        <li><a href="https://standards.usa.gov/" target="_blank">U.S. Web Design Standards</a></li>
        <li><a href="https://playbook.cio.gov/techfar/" target="_blank">TechFAR Handbook</a></li>
      </ul>
    </div>
    <div class="usa-width-one-fourth">
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
