<header class="usa-site-header" role="banner">
  <div class="usa-site-header-bar">
    <img class="usa-seal" alt="An image of the presidential seal" src="img/seal.png" />
    <span>the <em class="upper">White House &nbsp;</em></span>
    <span class="header-bar-president">President Barack Obama</span>
  </div>
          
  <nav class="usa-site-navbar">
    <ul class="usa-button-list usa-unstyled-list">
      <li class="usa-nav-item">
        <a href="/about">About</a> 
      </li>
      <li class="usa-nav-item">
        <a href="/work">Our Work</a> 
      </li>
      <li class="usa-nav item usa-nav-centerpiece">
        <a href="/"><img alt="The logo of the United States Digital Service" src="img/usds-logo-onwhite.png" /></a> 
      </li>
      <li class="usa-nav-item">
        <a href="https://medium.com/@USDigitalService">Blog</a> 
      </li>
      <li class="usa-nav-item">
        <a href="/join.html">Join Us</a> 
      </li>
    </ul>
  </nav>
</header>
