<header id="fixed-header" role="banner">
  <div class="disclaimer-bar">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <img class="eop-seal" alt="An image of the presidential seal" src="img/layout/seal.png" />
        An official website of the Executive Office of the President
      </div>
    </div>
  </div>
          
  <nav class="site-navbar">
    <ul class="usa-unstyled-list">
      <li class="nav-item">
        <a href="/about">About</a> 
      </li>
      <li class="nav-item">
        <a href="/work">Our Work</a> 
      </li>
      <li class="nav-centerpiece">
        <a id="logo-desktop-full" href="/">
          <img alt="The logo of the United States Digital Service" src="img/layout/logo-desktop-full.png" />
        </a>
        <a id="logo-desktop-collapsed" href="/">
          <img alt="The logo of the United States Digital Service" src="img/layout/logo-desktop-collapsed.png" />
        </a> 
      </li>
      <li class="nav-item">
        <a href="https://medium.com/@USDigitalService">Blog</a> 
      </li>
      <li class="nav-item">
        <a href="/join.html">Join Us</a> 
      </li>
    </ul>
  </nav>
</header>
