<div class="usa-width-one-third story">
  <a href="{{include.project_param.project_link}}" title="{{include.project_param.link_text}}"><img src="{{include.project_param.image_path}}" alt="{{include.project_param.image_alt_text}}" /></a>
  <h3><a href="{{ include.project_param.project_link }}" title="{{ include.project_param.link_text }}"> {{ include.project_param.title }} </a></h3>
  {{include.project_param.output}}
  <p class="project-link">
    <a href="{{include.project_param.project_link}}" target="_blank">{{include.project_param.link_text}}</a>
  </p>
</div>