<div class="usa-grid">
  <div class="usa-width-one-third">
    <a class="story-more" href="{{include.projects_param[include.first_link].project_link}}">{{include.projects_param[include.first_link].link_text}}</a> 
  </div>
  <div class="usa-width-one-third">
    <a class="story-more" href="{{include.projects_param[include.second_link].project_link}}">{{include.projects_param[include.second_link].link_text}}</a> 
  </div>
  <div class="usa-width-one-third">
    <a class="story-more" href="{{include.projects_param[include.third_link].project_link}}">{{include.projects_param[include.third_link].link_text}}</a> 
  </div>
</div>