<div id="site-alert-overlay"></div>
<div id="site-alert">
  <div id="site-alert-exit-contents">
    <a href="javascript:void(0);" class="close"><i class="fa fa-lg fa-times"></i><span class="sr-only">Close this dialogue</span></a>
    <h3>You are now leaving usds.gov</h3>
    <h4>
      But you probably knew that already.<br />
      PS: Did we mention <a href="/join">we're hiring UX designers?</a>
    </h4>
    <br />
    <p>Click the link below to continue:<br />
      <a href="javascript:void(0);" class="target-link" target="_blank"></a>
    </p>
  </div>
  <div id="site-alert-video">
    <a href="javascript:void(0);" class="close"><i class="fa fa-lg fa-times"></i><span class="sr-only">Close this dialogue</span></a>
    <iframe id="site-alert-video-frame" src="" frameborder="0" allowfullscreen></iframe>
  </div>
</div>