<div id="site-alert-overlay"></div>
<div id="site-alert">
  <a href="javascript:void(0);" class="close"><i class="fa fa-lg fa-times"></i><span class="sr-only">Close this dialogue</span></a>
  <h3>You are now leaving dds.mil</h3>
  <h4>
    FIXME: But you probably knew that already.<br />
    FIXME: PS: Did we mention <a href="/join">we're hiring UX designers?</a>
  </h4>
  <br />
  <p>Click the link below to continue:<br />
    <a href="javascript:void(0);" class="target-link" target="_blank"></a>
  </p>
</div>
