body {
  font-family: $base-font-family;
  text-align: center;
}

.usds-site {
  a, a:visited {
    color: $link-color;
  }
  a:hover {
    color: $link-color-hover;
  }
  h2, h3, h4 {
    font-weight: 700;
    //color: #205493;
  }
  @media (min-width: $screen-sm-min) {
    h1 {
      font-weight: normal;
      font-size: 2.9em;
      font-weight: 700;
      line-height: 1.25em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.6em;
    }
  }
  //HACK: see https://github.com/18F/web-design-standards/issues/1120
  .fa[aria-hidden=true]{
    display: inline-block !important;
  }

  header#fixed-header {
    top: 0;
    position: fixed;
    height: $fixed-header-height-desktop;
    width: 100%;
    z-index: 1;

    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;

    padding-bottom: 13px;
    margin: auto;

    #beta-notice {
      float: right;
    }
    .disclaimer-bar {
      height: $dislaimer-bar-height;
      padding-bottom: .5rem;
      padding-top: .5rem;
      color: #ffffff;
      background-color: $navigation-background-color;
      font-size: 1.3rem;
      text-align: left;

      img.eop-seal {
        display: inline-block;
        vertical-align: top;
        height: 20px;
        margin-right: 0.5rem;
      }
      a, a:hover {
        text-decoration: underline;
        color: #ffffff;
      }
    }

    .site-navbar .desktop {
      height: $fixed-header-height-desktop - $dislaimer-bar-height;
      font-size: .75em;
      font-weight: bold;
      & > ul {
        height: 100%;
        margin: auto;
        padding: 0;
        & > li {
          display: inline-block;
          position: relative;
          width: 180px;
          // At medium screen widths, menu items are being pushed
          // to the next line
          @media (max-width: $screen-sm-max) {
            width: 150px;
          }
          // Note: this was originally height: 100% and despite
          // all parents having heights, this did not render properly
          // in Firefox
          height: $fixed-header-height-desktop - $dislaimer-bar-height;
          & > a {
            display: inline-block;
            line-height: 3em;
            position: absolute;
            left: 0; right: 0; bottom: 0;
            padding-bottom: 1.5rem;
            color: $text-color;
            text-decoration: none;
          }
          &.active a span, a:hover span {
            padding-bottom: 3px;
            border-bottom: 5px $background-color-secondary solid;
          }
          
          & > ul {
            visibility: hidden;
            // off by one pixel so we don't obscure
            // the bottom border for #submenu-background
            height: $submenu-height - 1px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid $divider-color;
            border-width: 0px 1px 1px 1px;
            position: absolute;
            top: $fixed-header-height-desktop - $dislaimer-bar-height;
            margin: 0;
            padding: 0;
            padding-left: 60px;
            width: 300%;
            z-index: 10;
            & > li {
              height: $submenu-height - 3px;
              display: inline-block;
              padding: 6px 20px 6px 0;
              a {
                color: #666666;
                padding: 8px;
                font-weight: normal;
                display: inline-block;
                &:hover {
                  color: $text-color;
                  text-decoration: underline;
                }
              }
            }
            &.borderless {
              border: none;
            }
          }
          &.active ul, &:hover ul {
            visibility: visible;
          }
          &:hover ul {
            z-index: 12;
          }
          
        }
        .nav-centerpiece {
          width: 250px;
          z-index: 15;
          a#logo-desktop-full {
            img {
              width: 139px;
              height: 80px;
              top: 15px;
              position: relative;
            }
          }
          a#logo-desktop-collapsed {
            @include opacity(0);
          }
          // At medium screen widths, menu items are being pushed
          // to the next line
          @media (max-width: $screen-sm-max) {
            width: 160px;
          }
        }
      }
      #submenu-background {
        display: none;
        height: $submenu-height;
        width: 100%;
        border-bottom: 1px solid #f1f1f1;
        background-color: #ffffff;
        // TODO: Figure out why there's a margin on the ul above
        position: relative;
        bottom: 4px;
        z-index: 9;
        &.middle {
          z-index: 11;
        }
      }
    }

    // Collapsed at the header-level only applies to larger screen sizes
    @media (min-width: $screen-sm-min) {
      &.collapsed {
        height: $fixed-header-height-desktop-collapsed;
        @include opacity(0.99);
        @include css3-prefix('transition', 'height 100ms linear');
        .site-navbar .desktop {
          ul {
            & > li {
              height: $fixed-header-height-desktop-collapsed - $dislaimer-bar-height;
              @include css3-prefix('transition', 'height 100ms linear');
              & > a {
                padding-bottom: 0;
              }
              & > ul {
                 top: $fixed-header-height-desktop-collapsed - $dislaimer-bar-height;
                 @include css3-prefix('transition', 'height 100ms linear');
                 & > li {
                   height: $submenu-height - 2px;
                 }
              }
            }
            .nav-centerpiece {
              a#logo-desktop-full {
                @include opacity(0);
                @include css3-prefix('transition', 'opacity 200ms linear, height 200ms linear');
                height: 0px;
                overflow: hidden;
              }
              a#logo-desktop-collapsed {
                @include opacity(1.00);
                @include css3-prefix('transition', 'opacity 200ms linear');
                bottom: -22px;
                img {
                  width: 100px;
                  bottom: 0;
                }
              }
            }
          }
        
          #submenu-background {
            @include css3-prefix('transition', 'bottom 100ms linear');
            bottom: ( $fixed-header-height-desktop - $fixed-header-height-desktop-collapsed );
          }
        }
      }
    }

    .site-navbar .mobile {
      height: $fixed-header-height-mobile - 30px;
      img {
        float: left;
        margin-left: 1em;
        margin-top: ($fixed-header-height-mobile - 30px - 40px) / 2;
        height: 40px;
      }

      .navbar-toggle {
        float: right;
        // Override the default button styles
        border: none;
        width: auto;
        // This choice of padding & margin comes from Bootstrap
        padding: 9px 7px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #ffffff; //#f9f9f9;
        // Create hamburger with spans
        .hamburger-patty {
          display: block;
          margin: auto;
          // The choice of width and height comes from Bootstrap
          width: 22px;
          height: 3px;
          @include css3-prefix('border-radius', '1px');
          background-color: $navigation-background-color;
        }
        .hamburger-patty+.hamburger-patty {
          margin-top: 4px;
        }
      }
      .navbar-text {
        position: absolute;
        right: 55px;
        bottom: 17px;
        color: #000000;
        text-transform:
        uppercase; font-size: 9pt
      }

      .mobile-nav {
        position: fixed;
        top: $fixed-header-height-mobile;
        width: 100%;
        background-color: #ffffff;
        text-align: left;
        border-bottom: 1px solid #f1f1f1;
        // see here why this is using max-height instead of height: (tl;dr: animation)
        // http://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
        max-height: 500px;
        overflow: hidden;
        @include css3-prefix('transition', 'max-height 250ms linear');
        ul, li {
          width: 100%;
          padding: 0;
          margin: 0;
        }
        a {
          display: block;
          width: 100%;
          text-decoration: none;
          padding: 1em 2em;
          border-left: 10px #ffffff solid;
          color: $navigation-background-color;
          &:hover {
            background-color: #f9f9f9;
            border-left: 10px $background-color-secondary solid;
          }
        }
        ul ul li a {
          padding-left: 4em;
          font-size: 80%;
        }
        &.collapsed {
          @include opacity(0);
          max-height: 0;
        }
      }
    }

    // Responsive elements of the header
    @media (max-width: $screen-xs-max) {
      height: $fixed-header-height-mobile;
      .site-navbar .desktop {
        display: none;
      }
    }
    @media (min-width: $screen-sm-min) {
      .site-navbar .mobile {
        display: none;
      }
    }
  } // </header>

  #site-alert-overlay, #site-alert {
    position: fixed;
    background-color: #ffffff;
    display: none;
  }
  #site-alert-overlay {
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    @include opacity(0.9);
    z-index: 1;
  }
  #site-alert {
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 600px;
    overflow: auto;
    @include css3-prefix('transform', 'translate(-300px, -150px)');
    @include css3-prefix('box-shadow', '0 6px 12px 0px rgba(0, 0, 0, 0.2)');
    border-top: 7px solid $background-color-secondary;
    z-index: 10;
    a.close {
      color: #000000;
    }
    .fa {
      float: left;
    }
    .target-link {
      word-wrap: break-word;
    }
  }
  @media (max-width: $screen-xs-max) {
    #site-alert {
      top: 5%;
      left: 5%;
      padding: 10px;
      width: 90%;
      overflow: auto;
      @include css3-prefix('transform', 'translate(0, 0)');
    }
  }

  main {
    margin-top: $fixed-header-height-desktop;

    // Adjust the margin for mobile screen
    @media (max-width: $screen-xs-max) {
      margin-top: $fixed-header-height-mobile;
    }

    .jumbotron {
      width: 100%;
      height: 643px;
      background: url('../img/home/jumbotron-usds-staff-1200.jpg') center center no-repeat;
      background-size: cover;
      @media (max-width: $screen-xs-max) {
        background-image: url('../img/home/jumbotron-usds-staff-600.jpg')
      }
      @media (min-width: $screen-md-min) {
        background-image: url('../img/home/jumbotron-usds-staff-2400.jpg')
      }
      color: #fff;
      position: relative;
      h1, h2 {
        display: block;
        color: #fff;
      }
      h1 {
        margin-bottom: 0;
      }
      h2 {
        font-family: $base-font-family;
        font-size: 1.2em;
        margin-top: .35em;
        line-height: 1.9em;
        font-weight: 300;
      }
      .jumbotron-text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        padding-bottom: 2em;
        @include radial-gradient(rgba(0,0,0,0.75) 40%, rgba(0,0,0,0) 70%);
      }
      .ted-teaser {
        position: absolute;
        top: 50px; right: 0;
        background: #fff;
        cursor: pointer;
        .ted-teaser-image, div {
          display: inline-block;
          vertical-align: middle;
        }
        .ted-teaser-image {
          border-left: 6px solid $background-color-secondary;
        }
        div {
          max-width: 120px;
          margin: 0 30px;
        }
        a {
          text-decoration: none;
        }
      }
    }

    .ted-teaser div {
      color: $text-secondary-color;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      a {
        color: $text-secondary-color;
      }
    }


    .jumbotron.about{
      background: url('../img/about.jpg') center center no-repeat;
      background-size: cover;
    }

    .mobile-lede {
      h2 {
        margin-top: 0.5em;
      }
      .ted-teaser {
        height: 132px;
        margin-bottom: 1.5em;
        border: 1px solid #f1f1f1;
        border-width: 1px 0;
        img, div {
          float: left;
        }
        img {
          border-left: 6px solid $background-color-secondary;
        }
        div {
          height: 100%;
          width: 152px;
          padding-left: 1em;
          @include vertical-align-flexbox();
        }
      }
    }

    .more-button {
      background-color: #fff;
      border: 2px solid #0071BB;
      color: #0071BB;
      &:hover {
        color: #205593;
        border-color: #205593;
      }
    }
    // Paragraphs that are within the 
    .usa-width-one-whole > p {
      margin: 1em auto;
    }
    @media (min-width: $screen-md-min) {
      .usa-width-one-whole > p {
        width: 70%;
      }
    }

  } // </main>

  //
  // Sections that are re-used on multiple parts of the site
  // For CSS that is page-specific, see below
  //
  section.our-work {
    .story, .story-more {
      display: block;
      padding: 0 20px;
      font-size: .85em;
      text-align: left;
    }
    .story {
      margin-top: 5rem;
      img {
        max-height: 170px;
        border-top: 6px solid $background-color-secondary;
        padding-top: 8px;
      }
      .project-link a {
        text-decoration: none;
      }
      .project-link a:hover {
        text-decoration: underline;
      }
    }
    .story-more {
      margin-bottom: 5rem;
    }

    // Nicely gridded links only appear when the grid isn't collapsed to single column
    @media (max-width: 600px) {
      .project-link {
        display: block;
      }
      .story-more {
        display: none;
      }
    }
    @media (min-width: 600px) {
      .project-link {
        display: none;
      }
    }
  } // </section.our-work>

  section.blog {
    .blog-item {
      a {
        text-decoration: none;
      }
      .blog-image {
        width: 100%;
        background-position: 50% 0%;
        background-size: cover;
        background-origin: content-box;
        background-repeat: no-repeat;
        height: 170px;
        border-top: 6px solid $background-color-secondary;
        padding-top: 8px;
      }
    }
  } // </section.blog>

  section.staff-members {
    // This prevents the arrows on the staff nav
    // to screw up width of the page beyond 100%
    // TODO: fix this for realz
    max-width: 100%;
    overflow: hidden;
    #staff-member-carousel {
      margin-top: 5rem;
    }
    .staffer {
      display: block;
      padding: 0 20px;
      font-size: .85em;
      img {
        border-radius: 50%;
        max-width: 200px;
        max-height: 200px;
        display: inline-block;
      }
      h4, h5 {
        margin: 10px 0;
        font-weight: 500;
      }
      h5 {
        font-family: $base-font-family;
        font-size: 0.9em;
        margin-bottom: 20px;
      }
      .company {
        font-weight: 700;
      }
    }
    //HACK: see https://github.com/18F/web-design-standards/issues/1120
    .staffer[aria-hidden=true]{
      display: block !important;
    }
  } // </section.staff-members>

  section.press {
    margin-top: 5rem;
    .story {
      text-align: left;
      padding: 20px 20px 20px 0;
      border-top: 1px solid #ffffff;
      h3 {
        font-style: none;
      }
      a, a:hover {
        color: #ffffff;
      }
      .author {
        display: block;
        padding: 0.45em 0;
        color: #56A8DF;
        font-size: 0.8em;
        font-weight: bold;
      }
    }
  } // </section.press>

  section.site-album {
    width: 100%;
    font-size: 0;
    background-color: #56A8DF;
    overflow: hidden;
    .album-row {
      width: 150%;
      position: relative;
      left: -25%;
      margin: auto;
      height: $site-album-image-height;
      overflow: hidden;
    }
    img {
      display: inline-block;
      width: $site-album-image-width;
      height: $site-album-image-height;
      margin: auto;
      padding: 0;
    }
  } // </section.site-album>
  
  
  ul.featured {
    font-size: 0.8em;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: list-item;
      margin: 10px;
      padding-left: 20px;
      border-left: 14px solid $background-color-secondary;
      &:before {
        display: none;
      }
    }
  }
  .usa-site-values{
    padding-bottom: 40px;
  }

  .usa-site-value{
    font-size: 0.8em;
    text-align: left;
    margin: 10px;
    padding-left: 20px;
    border-left: 14px solid $background-color-secondary;
  }

  .feature-panel,
  .join-button-container {
    width: 100%;
  }
  .feature-panel {
    background-color: #103052;
    color: #fff;
    padding-bottom: 60px;
    overflow: auto;
    a, h3, h4 {
      color: #fff;
    }
    h4 {
      font-family: $base-font-family;
      font-weight: 300;
    }
    h3 {
      font-size: 1.8em;
    }
  } // .feature-panel
  .join-button {
    height: 60px;
    width: 200px;
    background-color: $background-color-secondary;
    margin-top: -30px;
    color: #000;
    font-size: 1.3em;
    &:hover {
      background-color: #CAB41F;
    }
  } // .join-button

  footer {
    text-align: left;
    padding: 60px 0 0 0;
    font-size: 0.8em;
    .wh-logo {
      border-top: 1px solid $divider-color;
      padding: 40px 0;
      a {
        display: block;
        width: 225px;
        margin: auto;
        img {
          width: 225px;
          height: 39px;
        }
      }
    }
    .eop-logo {
      max-height: 100px;
      height: 120px;
    }
    .usds-logo {
      width: 139px;
      height: 80px;
    }
    h4 {
      margin-top: 0;
      font-family: $base-font-family;
    }
    h4, .fa {
      color: #112e51;
    }
    .fa {
      margin-right: 1rem;
    }
    ul {
      margin: 0;
      li {
        &:before {
          content: none;
        }
        &:after {
          content: "";
          margin-bottom: 1em;
        }
      }
    }
    .contribute-button {
      height: 40px;
      width: auto;
      background-color: #fff;
      border: 2px solid #0071BB;
      color: #0071BB;
      margin: 40px 0px;

      &:hover {
        background: #fff;
        color: #205593;
        border: 2px solid #205593;
      }
    }
  } // </footer>

} // </.usds-site>

.usds-sidebar {
  font-family: $header-font-family;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/22px;
  text-align: left;
  margin-top: 90px;
  li {
    border-left: 7px solid #ffffff;
    padding-left: 0.5em;
    margin-bottom: 1em;
    &:hover, &.active {
      border-left: 7px solid #dec623;
    }
    &:before {
      content: none;
    }
  }
}

//
// CSS that is page-specific and not re-used elsewhere
// (for re-usable code, see "sections" above)
// Before adding code here, consider if it could be generalized and
// added above
//
.join-page {
  .answers {
    text-align: left;
    label {
      font-weight: bold;
      &.sub-label {
        font-weight: normal;
        white-space: nowrap;
      }
    }
    .usa-fieldset-inputs {
      margin: 20px 0;
    }
  }
}
.privacy-page {
  text-align: left;
}

.report-to-congress {
  padding-top: 3em;
  text-align: left;
  .kicker {
    font-family: $header-font-family;
    font-size: 1.5em;
    color: #666;
    margin-bottom: 0;
  }
  .usds-sidebar {
    margin-top: 4em;
    li.sub {
      padding-left: 1.5em;
    }
    li.pdf {
      margin-top: 3em;
      font-weight: normal;
      font-size: 0.9em;
      border-left-color: #fff;
    }
  }
  .kicker + h2 {
    margin-top: 0;
  }
  ul, ol {
    margin-bottom: 1em;
  }
  .report-title {
    margin: 3em 0;
    text-align: center;
    * {
      margin: 0;
    }
    .usds {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.prev-next {
  margin: 1em 0;
  &.bottom {
      margin-bottom: 5em;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .prev,
  .next {
    display: inline-block;
    width: 40%;
    strong {
      display: block;
    }
  }
  .prev {
    text-align: left;
  }
  .next {
    float: right;
    text-align: right;
  }
}

/* CSS below this line still needs to be organized and cleaned-up */
.infographic-container {
  text-align: center;
  margin: auto;
}
@media (min-width: $screen-md-min) {
  .infographic-container {
    width: 70%;
  }
}

.infographic-verticalalign {
  margin-top: 10%;
}

.infographic-text-blue {
  color: #205493;
  font-weight: bold;
}

.infographic-font-main {
  font-family: $header-font-family;
  font-size: 18px;
  p {
    line-height: 30px;
  }
}

.left-align{
  text-align: left;
}


// Override USWDS button styles
.slick-slider button,
.slick-slider button:hover,
.slick-slider button:focus {
  background: none;
  padding: 0;
  font-size: 0;
  outline: none;
  box-shadow: none;
}

.slick-slider button.slick-prev:before{
  content: url('/img/arrow_left.png');
}

.slick-slider button.slick-next:before{
  content: url('/img/arrow_right.png');
}
@media (max-width: $screen-xs-max) {
  .slick-slider button.slick-prev:before,
  .slick-slider button.slick-next:before {
    content: '';
  }
}

.slick-slider button.slick-arrow:before{
  font-size: 30px;
  color: #bbb;
}

