body {
  font-family: $base-font-family;
  text-align: center;
}

.usds-site {
  a, a:visited {
    color: $link-color;
  }
  a:hover {
    color: $link-color-hover;
  }
  h2, h3, h4 {
    font-weight: 700;
  }
  @media (min-width: $screen-sm-min) {
    h1 {
      font-weight: normal;
      font-size: 2.9em;
      font-weight: 700;
      line-height: 1.25em;
    } 
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.6em;
    }
  }
  //HACK: see https://github.com/18F/web-design-standards/issues/1120
  .fa[aria-hidden=true]{
    display: inline-block !important;
  }
  
  header#fixed-header {
    top: 0;
    position: fixed;
    height: $fixed-header-height-desktop;
    width: 100%;
    z-index: 1;
    
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    
    padding-bottom: 13px;
    margin: auto;
    
    #beta-notice {
      float: right;
    }
    .disclaimer-bar {
      height: 30px;
      padding-bottom: .5rem;
      padding-top: .5rem;
      
      color: #777;
      background-color: #f1f1f1;
      
      font-size: 1.3rem;
      text-align: left;
      
      img.eop-seal {
        display: inline-block;
        vertical-align: top;
        height: 20px;
        margin-right: 0.5rem;
      }
      a, a:hover {
        text-decoration: underline;
        color: #777;
      }
    }
    
    .site-navbar .desktop {
      font-size: .75em;
      font-weight: bold;
      ul {
        margin: auto;
        padding: 0;
        li {
          display: table-cell;
          position: relative;
          width: 180px;
          height: 110px;
          a {
            color: $text-secondary-color;
            position: absolute;
            left: 0; right: 0; bottom: 8px;
            text-decoration: none;
            &:hover span, &.active span {
              padding-bottom: 2px;
              border-bottom: 5px $background-color-secondary solid;
            }
          }
        }
        .nav-centerpiece {
          width: 250px;
          a#logo-desktop-full {
            top: -23px;
            img {
              width: 205px;
              bottom: 0;
            }
          }
          a#logo-desktop-collapsed {
            @include opacity(0);
          }
        }
      }
    }
    
    // Collapsed at the header-level only applies to larger screen sizes
    @media (min-width: $screen-sm-min) {
      &.collapsed {
        height: $fixed-header-height-desktop-collapsed;
        @include opacity(0.99);
        @include css3-prefix('transition', 'height 100ms linear');
        .site-navbar .desktop {
          ul {
            li {
              height: $fixed-header-height-desktop-collapsed - 32px;
              @include css3-prefix('transition', 'height 100ms linear');
            }
            .nav-centerpiece {
              a#logo-desktop-full {
                @include opacity(0);
                @include css3-prefix('transition', 'opacity 200ms linear');
                overflow: hidden;
              }
              a#logo-desktop-collapsed {
                @include opacity(1.00);
                @include css3-prefix('transition', 'opacity 200ms linear');
                bottom: -15px;
                img {
                  width: 100px;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
    
    .site-navbar .mobile {
      height: $fixed-header-height-mobile - 30px;
      img {
        float: left;
        margin-left: 1em;
        margin-top: ($fixed-header-height-mobile - 30px - 40px) / 2;
        height: 40px;
      }
       
      .navbar-toggle {
        float: right;
        // Override the default button styles
        border: none;
        width: auto;
        // This choice of padding & margin comes from Bootstrap
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #f9f9f9;
        // Create hamburger with spans
        .hamburger-patty {
          display: block;
          margin: auto;
          // The choice of width and height comes from Bootstrap
          width: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: $text-secondary-color;
        }
        .hamburger-patty+.hamburger-patty {
          margin-top: 4px;
        }
      }
      
      .mobile-nav {
        position: fixed;
        top: $fixed-header-height-mobile;
        width: 100%;
        background-color: #ffffff;
        text-align: left;
        border-bottom: 1px solid #f1f1f1;
        // see here why this is using max-height instead of height: (tl;dr: animation)
        // http://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
        max-height: 500px;
        overflow: hidden;
        @include css3-prefix('transition', 'max-height 250ms linear');
        ul, li {
          width: 100%;
        }
        a {
          display: block;
          width: 100%;
          text-decoration: none;
          padding: 1em 2em;
          &:hover {
            background-color: #f9f9f9;
          }
        }
        &.collapsed {
          @include opacity(0);
          max-height: 0;
        }
      }
    }
    
    // Responsive elements of the header
    @media (max-width: $screen-xs-max) {
      height: $fixed-header-height-mobile;
      .site-navbar .desktop {
        display: none;
      }
    }
    @media (min-width: $screen-sm-min) {
      .site-navbar .mobile {
        display: none;
      }
    }
  } // </header>
  
  #site-alert-overlay, #site-alert {
    position: fixed;
    background-color: #ffffff;
    display: none;
  }
  #site-alert-overlay {
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    @include opacity(0.9);
    z-index: 1;
  }
  #site-alert {
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    @include css3-prefix('transform', 'translate(-300px, -150px)');
    @include css3-prefix('box-shadow', '0 6px 12px 0px rgba(0, 0, 0, 0.2)');
    border-top: 7px solid $background-color-secondary;
    z-index: 10;
    a.close {
      color: #000000;
    }
    .fa {
      float: left;
    }
  }
  @media (max-width: $screen-xs-max) {
    #site-alert {
      top: 5%;
      left: 5%;
      padding: 10px;
      width: 90%;
      height: 90%;
      @include css3-prefix('transform', 'translate(0, 0)');
    }
  }
  
  main {
    margin-top: $fixed-header-height-desktop;
    
    // Adjust the margin for mobile screen
    @media (max-width: $screen-xs-max) {
      margin-top: $fixed-header-height-mobile;
    }
    
    .jumbotron {
      width: 100%;
      height: 643px;
      background: url('../img/experts.jpg') center center no-repeat;
      background-size: cover;
      color: #fff;
      position: relative;
      h1, h2 {
        display: block;
      }
      h1 {
        margin-bottom: 0;
      }
      h2 {
        font-family: $base-font-family;
        font-size: 1.2em;
        margin-top: .35em;
        line-height: 1.9em;
        font-weight: 300;
      }
      .jumbotron-text {
        position: absolute;
        left: 0; right: 0; bottom: 2em;
        margin: 0 auto;
        @include radial-gradient(rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 70%);
      }
      .ted-teaser {
        position: absolute;
        top: 50px; right: 0;
        background: #fff;
        cursor: pointer;
        .ted-teaser-image, div {
          display: inline-block;
          vertical-align: middle;
        }
        .ted-teaser-image {
          border-left: 6px solid $background-color-secondary;
        }
        div {
          max-width: 120px;
          margin: 0 30px;
        }
      }
    }
    
    .ted-teaser div {
      color: $text-secondary-color;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      a {
        color: $text-secondary-color;
      }
    }
    

    .jumbotron.about{
      background: url('../img/about.jpg') center center no-repeat;
      background-size: cover;
    }
    
    .mobile-lede {
      h2 {
        margin-top: 0.5em;
      }
      .ted-teaser {
        height: 132px;
        margin-bottom: 1.5em;
        border: 1px solid #f1f1f1;
        border-width: 1px 0;
        img, div {
          float: left;
        }
        img {
          border-left: 6px solid $background-color-secondary;
        }
        div {
          height: 100%;
          width: 152px;
          padding-left: 1em;
          @include vertical-align-flexbox();
        }
      }
    }
    
    .more-button {
      background-color: #fff;
      border: 2px solid #0071BB;
      color: #0071BB;
      /*height: 50px;
      width: 320px;
      background-color: #fff;
      border: 1px solid #0071BB;
      color: #0071BB;
      margin: 40px 0px;*/
      
      &:hover {
        color: #205593;
        border-color: #205593;
      }
    }
    
  } // </main>
  
  //
  // Sections that are re-used on multiple parts of the site
  // For CSS that is page-specific, see below
  //
  section.our-work {
    .story, .story-more {
      display: block;
      padding: 0 20px;
      font-size: .85em;
      text-align: left;
    }
    .story {
      margin-top: 5rem;
      img {
        max-height: 170px;
        border-top: 6px solid $background-color-secondary;
        padding-top: 8px;
      }
    }
    .story-more {
      margin-bottom: 5rem;
    } 
  } // </section.our-work>

  section.blog {
    .blog-item {
      a {
        text-decoration: none;
      }
      .blog-image {
        width: 100%;
        background-position: 50% 0%;
        background-size: cover;
        background-origin: content-box;
        background-repeat: no-repeat;
        height: 170px;
        border-top: 6px solid $background-color-secondary;
        padding-top: 8px;
      }
    }
  } // </section.blog>

  section.staff-members {
    // This prevents the arrows on the staff nav
    // to screw up width of the page beyond 100%
    // TODO: fix this for realz
    max-width: 100%;
    overflow: hidden;
    #staff-member-carousel {
      margin-top: 5rem;
    }
    .staffer {
      display: block;
      padding: 0 20px;
      font-size: .85em;
      img {
        border-radius: 50%;
        max-width: 200px;
        max-height: 200px;
        display: inline-block;
      }
      h4, h5 {
        margin: 10px 0;
        font-weight: 500;
      }
      h5 {
        font-family: $base-font-family;
        font-size: 0.9em;
        margin-bottom: 20px;
      }
      .company {
        font-weight: 700;
      }
    }
    //HACK: see https://github.com/18F/web-design-standards/issues/1120
    .staffer[aria-hidden=true]{
      display: block !important;
    }
  } // </section.staff-members>
  
  section.press {
    margin-top: 5rem;
    .story {
      text-align: left;
      padding: 20px 20px 20px 0;
      border-top: 1px solid #ffffff;
      h3 {
        font-style: none;
      }
      a, a:hover {
        color: #ffffff;
      }
      .author {
        display: block;
        padding: 0.45em 0;
        color: #56A8DF;
        font-size: 0.8em;
        font-weight: bold;
      }
    }
  } // </section.press>
  
  section.site-album {
    width: 100%;
    font-size: 0;
    background-color: #56A8DF;
    overflow: hidden;
    .album-row {
      width: 150%;
      position: relative;
      left: -25%;
      margin: auto;
      height: $site-album-image-height;
      overflow: hidden;
    }
    img {
      display: inline-block;
      width: $site-album-image-width;
      height: $site-album-image-height;
      margin: auto;
      padding: 0;
    }
  } // </section.site-album>
  
  .feature-panel,
  .join-button-container {
    width: 100%;
  }
  .feature-panel {
    background-color: #103052;
    color: #fff;
    padding-bottom: 60px;
    overflow: auto;
    h4 {
      font-family: $base-font-family;
      font-weight: 300;
    }
    h3 {
      font-size: 1.8em;
    }
  } // .feature-panel
  .join-button {
    height: 60px;
    width: 200px;
    background-color: $background-color-secondary;
    margin-top: -30px;
    color: #000;
    font-size: 1.3em;
    &:hover {
      background-color: $background-color-secondary;
    }
  } // .join-button  
  
  footer {
    text-align: left;
    padding: 60px 0;
    font-size: 0.8em;
    .wh-logo {
      width: 165px;
      height: 120px;
      margin-right: 1em;
    }
    .eop-logo {
      max-height: 100px;
    }
    .usds-logo {
      position: relative;
      bottom: 10px;
      width: 103px;
      height: 103px;
    }
    h4 {
      margin-top: 0;
      font-family: $base-font-family;
    }
    h4, .fa {
      color: #112e51;
    }
    .fa {
      margin-right: 1rem;
    }
    ul {
      margin: 0;
      li {
        line-height: 2em;
        &:before, &:after {
          content: none;
        }
      }
    }
  } // </footer>
  
} // </.usds-site>


//
// CSS that is page-specific and not re-used elsewhere
// (for re-usable code, see "sections" above)
// Before adding code here, consider if it could be generalized and
// added above
//
.join-page { 
  .faqs {
    font-family: $header-font-family;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.3em/22px;
    text-align: left;
    margin-top: 90px;
    li {
      border-left: 7px solid #ffffff;
      padding-left: 0.5em;
      margin-bottom: 1em;
      &:hover, &.active {
        border-left: 7px solid #dec623;
      }
      &:before {
        content: none;
      }
    }
  }
  .answers {
    text-align: left;
    label {
      font-weight: bold;
      &.sub-label {
        font-weight: normal;
        white-space: nowrap;
      }
    }
    .usa-fieldset-inputs {
      margin: 20px 0;
    }
  }
}
.privacy-page {
  text-align: left;
}






/* CSS below this line still needs to be organized and cleaned-up */
.page-width-70, .infographic-container {
  text-align: center;
  margin: auto;
}

@media (min-width: $screen-md-min) {
  .page-width-70 {
    width: 70%;
  }
  .infographic-container {
    width: 70%;
  }
}

.infographic-verticalalign {
  margin-top: 10%;
}

.infographic-text-blue {
  color: #205493;
  font-weight: bold;
}

.infographic-font-main {
  font-family: $header-font-family;
  font-size: 18px;
  p {
    line-height: 30px;
  }
}

.left-align{
  text-align: left;
}








.usa-site-values{
  padding-bottom: 40px;
}

.usa-site-value{
  font-size: 0.8em;
  text-align: left;
  margin: 10px;
  padding-left: 20px;
  border-left: 14px solid $background-color-secondary;
}

.usa-site-value h3{
  color: $link-color;
}

// Override USWDS button styles
.slick-slider button, 
.slick-slider button:hover,
.slick-slider button:focus {
  background: none;
  padding: 0;
  font-size: 0;
  outline: none;
  box-shadow: none;
}

.slick-slider button.slick-prev:before{
  content: url('/img/arrow_left.png');
}

.slick-slider button.slick-next:before{
  content: url('/img/arrow_right.png');
}
@media (max-width: $screen-xs-max) {
  .slick-slider button.slick-prev:before,
  .slick-slider button.slick-next:before {
    content: '';
  }
}

.slick-slider button.slick-arrow:before{
  font-size: 30px; 
  color: #bbb;
}

