// USWDS Overrides
$color-grid-dark:   #727272;
$color-grid-light:  #e3e4e5;
$font-monospace:    Consolas, Monaco, 'Andale Mono', monospace;
$asset-path: '../';
$font-path: '#{$asset-path}fonts';
$image-path: '#{$asset-path}img';

$external-href:     '[href^="http"]:not([href*=".gov"])';

$z-nav-secondary: 10;

// Site image path, relative to /assets/css/
$site-image-path: '../../img';

// Custom Variables
$font-light: 300;
$site-nav-font-size: 1.7rem;
$media-block-header-font-size: 1.7rem;
$media-block-body-font-size: 1.5rem;

// Social colors

$color-facebook-blue: #537BBE;
$color-twitter-blue: #77CCF1;
$color-instagram-red: #E4415F;
$color-medium-green: #00AB6C;
$color-linkedin-blue: #137BB8;



/*
----------------------------------------
Screen breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/


$width-card:       160px;
$width-card-lg:    240px;
$width-mobile:     320px;
$width-mobile-lg:  480px;
$width-tablet:     640px;
$width-tablet-lg:  800px;
$width-desktop:     1024px;
$width-carousel-arrows: 1080px;
$width-desktop-lg:  1200px;
$width-widescreen:  1400px;
