

.usds-apply-form {

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  p {
    max-width: 66ch;
  }

  .usa-checkbox__label,
  .usa-radio__label {
    text-indent: 0 !important;
  }
}