<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="usds-site {{ page.url | replace:'index','home' | replace: '404','notfound' | replace:'.html','' | slugify }}-page">
    {% include header.html %}
    <main>
      <section class="report-to-congress">
        <div class="usa-grid">
          <div class="usa-width-three-fourths">
          {% if page.front %}
            <div class="report-title">
              <p><img src="/img/report-to-congress/capitol.jpg" alt="Illustrated U.S. Capitol"></p>
              <p class="usds">The U.S. Digital Service</p>
              <h2>Report to Congress</h2>
              <p>{{ page.report_title }}</p>
            </div>
          {% else %}
            <p class="kicker">{{ page.report }} Report to Congress</p>
          {% endif %}
          {% if page.agency %}
            <h2 class="title-with-agency">{{ page.title }}</h2>
            <p class="agency">{{ page.agency }}</p>
          {% endif %}
            {{ content }}

            {% if page.previous_entry %}
              {% assign previous_entry = site.reports_to_congress | where: "url", page.previous_entry | first %}
              {% if previous_entry %}
                <p class="previous-entry">This project was previously chronicled in our <a href="{{ previous_entry.url }}">{{ previous_entry.report }} Report to Congress</a>.</p>
              {% endif %}
            {% endif %}

            {% include prev_next.html position="bottom" %}
          </div>
          <div class="usa-width-one-fourth">
            <ul class="usa-unstyled-list usds-sidebar">
            {% assign sections = site.reports_to_congress | where: "report", page.report %}
            {% for section in sections %}
              <li class="{% if page.url == section.url %} active{% endif %}{% if section.sub %} sub{% endif %}">
                <a href="{{ section.url }}">{% if section.short %}{{ section.short }}{% else %}{{ section.title }}{% endif %}</a>
              </li>
            {% endfor %}
              <li class="pdf"><a href="/resources/USDS-{{ page.report | replace: " ", "-" }}-Report-to-Congress.pdf">Download the<br/>full report (PDF)</a></li>
            </ul>

            <div class="usds-sidebar other-reports">
              <p><strong>Reports to Congress</strong></p>
              <ul class="usa-unstyled-list">
                {% assign reports = site.reports_to_congress | where: "front", true | reverse %}
                {% for report in reports %}
                <li>
                  <a href="{{ report.url }}">{{ report.report_title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% if page.url != '/join.html' %}
      {% include extended_footer.html %}
    {% endif %}
    {% include footer.html %}
    {% include site_alert.html %}
  </body>
  {% include analytics.html %}
</html>
